@font-face {
  font-family: "moraba-ul";
  src: url("../font/Morabba-UltraLight.ttf");
}

@font-face {
  font-family: "moraba-l";
  src: url("../font/Morabba-Light.ttf");
}

@font-face {
  font-family: "moraba-m";
  src: url("../font/Morabba-Medium.ttf");
}

@font-face {
  font-family: "moraba-sm";
  src: url("../font/Morabba-SemiBold.ttf");
}

@font-face {
  font-family: "moraba-b";
  src: url("../font/Morabba-Bold.ttf");
}

@font-face {
  font-family: "moraba-xb";
  src: url("../font/Morabba-ExtraBold.ttf");
}

@font-face {
  font-family: "moraba-black";
  src: url("../font/Morabba-Black.ttf");
}

@font-face {
  font-family: "moraba-heavy";
  src: url("../font/Morabba-Heavy.ttf");
}

.container-wrap {
  background: linear-gradient(-140deg, #7f00ff, #e100ff 75%);
  position: relative;
}

.job-plus {
  height: 100px;
  box-shadow: 3px 3px 8px #620b518c;
}

.job-plus i {
  font-size: 38px;
  color: #7f00ff !important;
}

.owl-carousel .owl-item {
  padding: 2.5px;
}

.owl-carousel .item {
  height: 100px;
  background: linear-gradient(-140deg, #e7446a, #f85c80 75%);
  box-shadow: 1px 1px 5px #620b518c;
}

.owl-carousel .item h4 {
  text-shadow: 3px -2px 6px #430240;
}

.jobs {
  border-radius: 50px 50px 0px 0px;
  position: absolute;
  bottom: 0;
  left: 0;
  z-index: 1000;
  box-shadow: 0px -6px 11px #6a0870c2;
}

.jobs.active {
  height: 85vh !important;
}

.jobs .jobs-wrapper {
  position: relative;
}

.jobs .jobs-wrapper .plus-job {
  width: 60px;
  height: 60px;
  position: absolute;
  top: 40px;
  left: 20px;

}

.jobs .jobs-wrapper .plus-job button {
  background-color: #8f28e1;
  width: 100%;
  aspect-ratio: 1/1;
}

.jobs .line {
  height: 4px;
  background-color: #454545;
}

.jobs .jobs-inside {
  display: block;
  overflow: scroll;
}

.jobs .job-list ul {
  list-style: none;
}

.checkbox-wrapper-39 *,
.checkbox-wrapper-39 *::before,
.checkbox-wrapper-39 *::after {
  box-sizing: border-box;
}

.checkbox-wrapper-39 label {
  display: block;
  width: 35px;
  height: 35px;
  cursor: pointer;
}

.checkbox-wrapper-39 input {
  visibility: hidden;
  display: none;
}

.checkbox-wrapper-39 input:checked~.checkbox {
  transform: rotate(45deg);
  width: 14px;
  margin-left: 12px;
  border-color: #24c78e;
  border-top-color: transparent;
  border-left-color: transparent;
  border-radius: 0;
}

.checkbox-wrapper-39 .checkbox {
  display: block;
  width: inherit;
  height: inherit;
  border: 3px solid #434343;
  border-radius: 6px;
  transition: all 0.375s;
}

/*ta inja check mishe */
.jobs li .col-4 button:nth-child(2) i {
  color: #f72414;
}

.jobs li .col-4 button:nth-child(1) i {
  color: #ffbf00;
}

@media only screen and (min-width:1200px) {
  .container-wrap {
    width: 26% !important;
    height: 95vh !important;
    border-radius: 30px;
    margin: 20px auto;
    box-shadow: 3px 3px 10px #353535;

  }

  .jobs-inside::-webkit-scrollbar {
    display: none;
  }

  .jobs-inside {
    -ms-overflow-style: none;
    /* IE and Edge */
    scrollbar-width: none;
    /* Firefox */
  }

  h1 {
    font-size: 28px !important;
  }
}

@media only screen and (max-width:1200px) and (min-width:600px) {
  .container-wrap {
    width: 36% !important;
    height: 95vh !important;
    border-radius: 30px;
    margin: 20px auto;
    box-shadow: 3px 3px 10px #353535;

  }

  .jobs-inside::-webkit-scrollbar {
    display: none;
  }

  .jobs-inside {
    -ms-overflow-style: none;
    /* IE and Edge */
    scrollbar-width: none;
    /* Firefox */
  }

  h1 {
    font-size: 28px !important;
  }
}

.jobs ul {
  max-height: 50vh; /* Set a maximum height for the list */
  overflow-y: auto;  /* Enable vertical scrolling */
  list-style-type: none; /* Remove default list bullet points */
  padding: 0; /* Remove default padding */
  margin: 0;
}